body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightblue;
  color: black;
}

h1 {
  font-style: italic;
}

.glitchButtonElement {
  outline: 0;
  margin: none !important;
}

.glitchButtonElement:hover {
  background-color: white !important;
  border-radius: 10%;
}

.bold {
  font-weight: bold;
}